<h1>Hey look, this is index</h1>
<p><%= link_to "New Player", new_player_url %></p>

<% @players.each do |player| %>
	<p> Name: <%= player.name.capitalize %>, Score: <%= player.score %></p>

	<%= form_for player do |f| %>
  <%= f.label :score %>:
  <%= f.text_field :score %><br />
  
  <%= f.hidden_field :id %>

  <%= f.submit %>
<% end %>
<% end %>	